@media(min-width: 768px){
	.navbar{
		height:70px;
	}
	.leftNav{
		float: right !important;
	}
}

.container-fluid{
	padding: 0;
}

.navbar-brand:focus{
	color:#4A1717;
	outline: none;
}

.navbar-nav:active:focus{
	color:#4A1717;
	outline: none;
}

.navbar{
	background-color: #4A1717;
	width: 100%;		/*CHANGE*/
}

.navbar-nav li a{
	color:#ddd395;
}

.navbar-nav li a:focus{
	background-color: #4A1717;
}
.navbar-toggle .icon-bar{
	background-color: #ddd395;
}

ul.nav a:hover { 
	background-color: #5f2020 !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #5f2020;
	box-shadow: 1px 1px 1px black;
}

.navbar-brand{
	color:#ddd395;
}

.navbar-brand:hover{
	color:#ddd395;
}

.dropdown-menu{
	background-color: #282828;
}

.dropdown-menu li a{
	color: white;
}
.dropdown-menu li a:hover{
	color: white;
	background-color: #323232 !important;
}

.active{
	background-color: #5F2020;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

 .carousel{
  	overflow: hidden;
  }
  .carousel-inner{
  width: 120%;
  margin-left: -10%;
}

.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
	color: #ddd395;
}
.bookingDiv{
	width: 100%;
	background-color: #4A1717;
	padding:20px;
}

.facilitiesDiv{
	background-color: #141414;
	padding: 10px;
}

.facilityDesc{
	margin: 10px;
}

.roomImgDiv{
	background-color: #1e1e1e;
	padding: 0;
}

.roomImg{
	width: 99.9%;
}

.roomDetails{
	background-color: #1e1e1e;
}

.reserve{
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	min-height: 100%;
	width: 100%;
	height: auto;
	background:url('../img/home4Dark.jpg');
	background-size: cover;
	background-position: center; 
}

td{
	text-align: center;
}

input{
	height: 2em;			/*CHANGE*/
	width: 100%;
	text-align: center;
	color: black;
}

footer{
	width: 100%;
	background-color: #4A1717;
	padding: 30px;
}

.foot .col-xs-6 h5{
	color: white;
}

h3{
	margin: 0;
}

hr{
	background-color: #ddd395;
	opacity: 0.5;
}

.btn-primary{
	background: #ddd395;
	border: none;
	color: black;
}

.btn-primary:hover{
	background: #C2B776;
	border: none;
	color: black;
}
.btn-primary:active{
	background: #C2B776;
	color: black;
	border: none;
}
.btn-primary:focus{
	background: #C2B776;
	color: black;
	border: none;
}
.btn-primary:active:focus{
	background: #C2B776;
	color: black;
	border: none;
}


.socMedIcon a img{
	width: 45px;
	height: 45px;
}

.button{
	background: #ddd395;
	border: none;
	color: black;
}
}
