@media(min-width: 768px){
	.bookingDiv
	{
		.button
		{
			width: 100%;
			max-width: none;
		}
	}
}

section
{
	padding-top: 50px;
	background-color: $color-background;
	text-align: center;
	h1
	{
		font-family: $font-serif;
		color: $color-gold;
		font-size: 32px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	>img
	{
		margin: 20px auto 40px auto;
		width: 80%;
		max-width: 400px;
	}

	.press-release-container
	{
		background-color: $color-grey;
		border-radius: 3px;
		text-align: left;
		margin: 30px auto;
		.press-release-image
		{
			height: 271px;
			background-size: cover;
			background-position: center;
			border-radius: 3px 0 0 3px;
		}
		h2
		{
			font-family: $font-serif;
			font-weight: 700;
			color: $color-gold;
			font-size: 26px;
		}
		h3
		{
			font-family: $font-sans;
			color: $color-gold;
			font-size: 18px;
		}
		p
		{
			height: 100px;
  			overflow-y: auto;
			font-family: $font-sans;
			color: $color-white;
			font-size: 16px;
			margin: 20px auto;
		}
		.read-more-button
		{
			display: inline-block;
			margin-bottom: 20px;
			width: auto;
			padding: 6px;
			font-family: $font-sans;
			font-weight: 700;
			text-transform: uppercase;
			color: black;
			background-color: $color-gold;
			border-radius: 3px;
			text-decoration: none;
		}
	}
}

#section-virtual-tour
{
	.container
	{
		outline: 2px solid $color-gold;
		padding: 0;
		margin-bottom: 50px;
	}
	.video-container
	{
		float: none;
		clear: both;
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		//padding-top: 25px;
		height: 0;
		iframe 
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.room-images-container
	{
		.room-images
		{
			height: 250px;
			background-size: cover;
			background-position: 50%;
		}
	}
}

#section-cta
{
	position: relative;
	background-image: url('../img/home4.jpg');
	background-size: cover;
	background-position: 50%;
	height: 600px;
	width: 100%;
	padding-top: 0;
	h2
	{
		font-family: $font-serif;
		color: white;
		font-size: 26px;
		text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
	}
	img
	{
		display: block;
		margin: 20px auto;
	}
	a
	{
		display: inline-block;
		margin-bottom: 20px;
		width: auto;
		padding: 6px;
		font-family: $font-sans;
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
		color: black;
		background-color: $color-gold;
		border-radius: 3px;
		text-decoration: none;
	}
}

.active{
	background-color: #5F2020;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

 .carousel{
  	overflow: hidden;
  }
  .carousel-inner{
  width: 120%;
  margin-left: -10%;
}

.carousel-image-mask
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1.0+0,0+50,1.0+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,1.0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1.0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1.0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1.0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1.0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
}

.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
	font-family: $font-serif;
	h3
	{
		font-size: 32px;
	}
	p
	{
		font-size: 24px;
		color:white;
	}
}
.bookingDiv{
	width: 100%;
	background-color: #4A1717;
	padding:20px;
	font-weight: 700;

	label
	{
		font-size: 16px;
		color: $color-gold;
		font-family: $font-sans;
	}

	.button
	{
		width: 100%;
		height: 60px;
		max-width: 200px;
		border-radius: 5px;
		font-size: 22px;
		margin: 10px auto;
	}
}

.facilitiesDiv{
	background-color: #141414;
	padding: 10px;
}

.facilityDesc{
	margin: 10px;
}

.roomImgDiv{
	background-color: #1e1e1e;
	padding: 0;
}

.roomImg{
	width: 99.9%;
}

.roomDetails{
	background-color: #1e1e1e;
}

.reserve{
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	min-height: 100%;
	width: 100%;
	height: auto;
	background:url('../img/home4Dark.jpg');
	background-size: cover;
	background-position: center; 
}

td{
	text-align: center;
}

input{
	height: 2em;			/*CHANGE*/
	width: 100%;
	text-align: center;
	color: black;
}

footer{
	width: 100%;
	background-color: #4A1717;
	padding: 30px;
}

.foot .col-xs-6 h5{
	color: white;
}

h3{
	margin: 0;
}

hr{
	background-color: #ddd395;
	opacity: 0.5;
}

.btn-primary{
	background: #ddd395;
	border: none;
	color: black;
}

.btn-primary:hover{
	background: #C2B776;
	border: none;
	color: black;
}
.btn-primary:active{
	background: #C2B776;
	color: black;
	border: none;
}
.btn-primary:focus{
	background: #C2B776;
	color: black;
	border: none;
}
.btn-primary:active:focus{
	background: #C2B776;
	color: black;
	border: none;
}


.socMedIcon a img{
	width: 45px;
	height: 45px;
}

.button{
	background: #ddd395;
	border: none;
	color: black;
}