// Import the fonts
@import 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet';
$font-serif    : 'Roboto', sans-serif;
$font-sans     : 'Roboto', sans-serif;
$font-tagline  : 'Roboto', sans-serif;

// Theme Colours
$color-background   : #ffffff;
$color-grey         : #1e1e1e;
$color-white		: #A0A0A0;
$color-red          : #4a1717;
$color-gold         : #ddd395;

// Material Shadow
@mixin material-shadow() {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin material-shadow-depth-2() {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

// Border radius
@mixin border-radius($topleft, $topright, $botright, $botleft) {
  -webkit-border-radius: $topleft $topright $botright $botleft;
     -moz-border-radius: $topleft $topright $botright $botleft;
      -ms-border-radius: $topleft $topright $botright $botleft;
          border-radius: $topleft $topright $botright $botleft;
}

// Gradient presets
.gradient-mask-top-black
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1.0+0,0.2+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1.0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1.0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1.0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */


}

.gradient-mask-full-light
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.9+0,0.4+50,0.9+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
}

// Import Components
@import 'topbar';
@import 'home';
@import 'about';
@import 'philosophy';
@import 'rooms';
@import 'reservation';
@import 'loading';
@import 'businessandmeeting';
@import 'facilities';
@import 'packages';
@import 'admin';

// Global overrides
.container-fluid
{
    padding: 0;
}

// Global helpers
.valign-wrapper
{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	.valign
	{
		display: block;
	}
}

.calign
{
	text-align: center;
	margin: auto;
}

strong
{
	color: $color-gold;
}

.rotate-90
{
	transform:          rotate(90deg);
	-ms-transform:      rotate(90deg);
	-moz-transform:     rotate(90deg);
	-webkit-transform:  rotate(90deg);
	-o-transform:       rotate(90deg);
}


